@using BookStore.Application.Dtos.Users;
@model CreateUserDto

<form method="post" asp-action="Register" asp-controller="User">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input type="text" class="form-control" asp-for="UserName" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="text" class="form-control" asp-for="Password" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="text" class="form-control" asp-for="Email" />

    </div>
    <input type="submit" class="btn btn-success " value="Register"/>
    <input type="reset" class="btn btn-danger " value="Reset" />
</form>
